name: Publish

on:
  push:
    branches: # Snapshots
      - main
    tags: ["**"] # Releases

jobs:
  publish-artifacts:
    name: JDK 8
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'sbt' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          # we don't know what commit the last tag was it's safer to get entire repo so previousStableVersion resolves
          fetch-depth: 0

      - name: Coursier Cache
        id: coursier-cache
        uses: coursier/cache-action@v6

      - name: Install Adoptium Temurin OpenJDK
        uses: coursier/setup-action@v1
        with:
          jvm: adoptium:8

      - name: Setup sbt
        uses: sbt/setup-sbt@v1

      - name: Publish artifacts
        run: sbt ci-release
        env:
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}

      - name: Cleanup before cache
        shell: bash
        run: |
          rm -rf "$HOME/.ivy2/local" || true
          find $HOME/Library/Caches/Coursier/v1        -name "ivydata-*.properties" -delete || true
          find $HOME/.ivy2/cache                       -name "ivydata-*.properties" -delete || true
          find $HOME/.cache/coursier/v1                -name "ivydata-*.properties" -delete || true
          find $HOME/.sbt                              -name "*.lock"               -delete || true
